<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Oleo+Script&display=swap');
    </style>
</head>

<body style="width:100%">
    <div style="width:100%;background:gray;font-family: 'Alex Brush', cursive!important;padding: 50px 0;">
        <div style="margin: 0 auto;width:50%;background:white;border-radius:3px;height:450px;">
            <img src="cid:image" width='100%' height="200px" />
            <div style="width: 70%; text-align: center;margin: 0 auto;">
                <h1 style="text-align:center:width:100%">Hello {{empName}}!</h1>
                <p style="padding-top:50px;">"Best wishes on your birthday! You are an extremely dedicated employee, and
                    we
                    are very grateful for that. It’s clear that you think of the company as your own, and your work sure
                    does reflect it"</p>
            </div>
        </div>
</body>

</html>